/*This branched Styles sheet is to create a calculator that 
mimic the motospeed keyboard's layout almost exactly*/

body{
    display:flex;
    background-color: blue;
    height: 100vh;
    width: 100vh;
}

.display{
    width: 40vh;
    height: 20vh;
    background-color: white;
}

.mainColumn{
    width: 30vh;
    height: 60vh;
    background-color: green;
}