/*This branched Styles sheet is to create a calculator that 
mimic the motospeed keyboard's layout almost exactly*/

body{
    display:flex;
    background-color: blue;
    height: 100vh;
    width: 100vh;
    align-items: center;
    justify-content: center;
}

.display{
    width: 40vh;
    height: 20vh;
    background-color: white;
}

#keypad{
    display:flex;
    flex:1;
}
.mainColumn{
    display:flex;
    width: 30vh;
    height: 60vh;
    background-color: green;
}
.rightColumn{
    display: flex;
    flex-direction: column;
    width: 10vh;
    height: 60vh;
    background-color: red;
}


.numberBtn{
    flex:1;
    
    font-size: 5vh;
}
/*CREATE SELECTOR FOR 
0, + and EQUALS TO BE FLEX 2
*/